<div id="title">
  <section class="content">
    <!-- Add Menu Buttons, Tabs, SearchBar, a Title or any other content - or just leave it blank -->
  </section>
  <!-- You can remove the aside content if your 'frame` is not set to 'false', or your 'titleBarStyle' is not set to 'hidden' or 'hiddenInset' or if you just don't wanna window controls  -->
  <aside>
    <app-action-button
      class="action-button"
      icon="minus"
      title="Minimize"
    ></app-action-button>
    <app-action-button
      class="action-button"
      [icon]="toggleMaximize.Icon"
      [title]="toggleMaximize.Title"
      (click)="runToggleMaximize()"
    ></app-action-button>
    <app-action-button
      class="action-button close"
      icon="x"
      title="Close"
    ></app-action-button>
  </aside>
</div>
