* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  color: var(--altForeground);
  background: var(--defaultBackground);
}

button {
  border: none;
  margin: 0;
  padding: 0.1rem;
  font-size: 1rem;
  line-height: 2rem;
  background-color: transparent;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

a {
  color: var(--defaultForeground);
  transition: .6s;

  &:hover {
    color: var(--highlightForeground);
  }
}
