<main class="container">
  <header>
    <h1>Welcome to Angular Electron Template!</h1>
    <p>
      There's no mystery to build your app in here, you can just do the things
      like you usually do in a common Angular web application. I recommend you
      to create Angular Services to handle actions that communicates with
      Electron, but you can do it however you like.
    </p>
  </header>
  <footer>
    <div class="links">
      <a href="https://angular.io/docs" target="_blank" rel="noopener">
        <i-feather name="Link2"></i-feather>
        Angular Documentation
      </a>
      <a href="https://github.com/euaaron/template-angular-electron" target="_blank" rel="noopener">
        <i-feather name="Link2"></i-feather>
        This Project Repository
      </a>
      <a href="https://www.electronjs.org/docs/latest" target="_blank" rel="noopener">
        <i-feather name="Link2"></i-feather>
        Electron Documentation
      </a>
    </div>
    <p>
      Template created by Aaron Carneiro
      <a href="https://github.com/euaaron" target="_blank" rel="noopener">@euaaron</a>.
    </p>
  </footer>
</main>
